extends layouts/layout

block content
  header
    nav.navbar
      .logo YOUNG 4<span style="color: orange;">CHICKS</span>
      ul.nav-links
        li: a(href="/login") LOGIN
        li: a(href="/signup") SIGNUP
        li: a(href="/about") ABOUT
      a.action-btn(href="/login") Get Started

  main.hero-section
    .hero-content
      h1 Welcome
      p Kickstart Your Empire — One Chick at a Time, Backed by Purpose. Built for Profit.
